body {
  background-color: #DCDCDC;
}

.git-icon-size {
  font-size:20px;
}

.project-git {
    font-size:37px;
}

.profile-pic-size{
    width:35%;
}

.btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #696969;
    border-color: #333;
}

.navbar{
     border-radius: 0;
}
