body {
  background-color: #DCDCDC;
}

.git-icon-size {
  font-size:20px;
}

.git-icon-size-lg{
    font-size:35px;
}

.project-git {
    font-size:37px;
}

.profile-pic-size{
    width:35%;
}

.btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #696969;
    border-color: #333;
}

.navbar{
     border-radius: 0;
}

.white-box{
    border: 1px solid black;
    background-color: #FFFFFF;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.tools{
    border-radius: 25px;
    color: white;
    background: #333;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    display : inline-block;
}

.panel > .panel-heading {
    background-color: #DCDCDC;


}
.panel-default {
    display : inline-block;
    border-color: #333;

}

.big-li li {
    font-size: 1.25em;
}

.leetcode-font{
    font-size: 1.25em;
}

.about-font{
    font-size: 1.25em;
}

.projects-font{
    font-size: 1.25em;
}

.about-font-sm{
    font-size: 1.0625em
}

.problems-font{
    font-size: 0.9375em;
}

.bottom-buffer{
    margin-bottom: 2em;
}

.bottom-buffer-sm{
    margin-bottom: 1em;
}

.top-buffer {
    margin-top:3.125em;
}

.top-buffer-sm {
    margin-top:1.5em;
}

.panel-title>a, .panel-title>a:active{
    display:block;
    padding:15px;
    color:#555;
    font-size:16px;
    font-weight:bold;
    /* text-transform:uppercase; */
    letter-spacing:1px;
    word-spacing:3px;
    text-decoration:none;
}

.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.navbar-toggle {
  position: absolute;
  right: 0;
}

@media (max-width: 786px) {
  .navbar-brand {
    padding-right: 3.75em;
    height: auto;
  }

}
