body {
  background-color: #DCDCDC;
}

.git-icon-size {
  font-size:20px;
}

.git-icon-size-lg{
    font-size:35px;
}

.project-git {
    font-size:37px;
}

.profile-pic-size{
    width:35%;
}

.btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #696969;
    border-color: #333;
}

.navbar{
     border-radius: 0;
}

.white-box{
    border: 1px solid black;
    background-color: #FFFFFF;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.tools{
    border-radius: 25px;
    color: white;
    background: #333;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    display : inline-block;
}

.panel > .panel-heading {
    background-color: #DCDCDC;


}
.panel-default {
    display : inline-block;
    border-color: #333;

}

.top-buffer {
    margin-bottom:50px;
}

.big-li li {
    font-size: 20px;
}

.leetcode-font{
    font-size:20px;
}

.problems-font{
    font-size:15px;
}
